.espacoTitulo{margin-bottom: -3%;}
.espacoPesquisa{margin-bottom: -1%;}
.btnTabela{width: 10%;}
.msgTop{padding-top: 2%; margin-bottom: -2%}
.barraTitulo{background-color:#4d0481;}
.tabela{background-color:#FF206C; color: white}
.rodape{background-color:#888888;}
.titulo{color: #41416C}
.tituloIcone{color: #41416C}